@import "toolkit";

.graph {
  margin: 0 0 10px 0;
  padding: 30px 0 0 0;
  height: 40px;
  width: 100%;
  position: relative;
  // border-top: 1px solid rgba(255,255,255,0.5);
  // border-bottom: 1px solid rgba(255,255,255,0.5);
  cursor: pointer;
}

.marker {
  width: 2px;
  height: 45px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background: #cc0000;
  transition: all 0.5s ease;
}

.promtime {
  position: absolute;
  top: 0px;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  margin-left: -46px;
}

.sparklines {
  width: 100%;
  height: 40px;
}

.bar {
  transition: fill 1s ease;

  &:hover {
    fill: #ffffff !important;
    transition: full 0s ease;
  }
}
