/* _base.scss */


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: #000;
}

html, body {
  margin: 0;
  min-height: 100%;
}
