@import "toolkit";

.body {
  font-size: inherit;
  overflow: hidden;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  font-size: 18px;
  font-family: montserrat, 'helvetica neue', Montserrat, sans-serif;
  margin: 5px 0 0px 0;
  padding: 0 4px 3px 4px;
  position: absolute;
  width: 100%;
  opacity: 0.7;
  transition: color 500ms ease;

  @media (min-width: 640px) {
    font-size: 25px;
    // padding: 0 0 3px 0;
  }
}

.headerFade {
  font-weight: 100;
  opacity: 0.6;
}

.intro {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  width: 75%;
  margin: 30px auto;
  line-height: 1.4;

  a {
    color: #ffffff;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
    transition: box-shadow 500ms ease;
  }

  a:hover {
    box-shadow: inset 0 -1px 0 rgba(255,255,255,1);
  }
}

.promtime {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.startbutton {
  font-size: 90px;
  display: block;
  color: #eeeeee;
  border: 0;
  background: transparent;
  transition: opacity 1s ease;
  margin: 10px auto;

  &:hover {
    color: lighten(#880066, 40%);
  }
}

.description {
  color: #eee;
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  opacity: 0.4;
  transition: opacity 0.5s ease;
  padding: 8px;
  background-color: rgba(0,0,0,0.5);

  &:hover { opacity: 1; }

  a { text-decoration: none; }

  p { margin: 0 0 8px 0; }
}

.videocontainer {

  @media (min-width: 640px) {
    width: 55%;
    float: left;
  }
}

.track,
.artist {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  opacity: 0.6;
  transition: opacity 1.5s ease;
  display: none;
}

.fade {
  opacity: 0;
  transition: opacity 2s ease;

  &.visible {
    opacity: 1;
  }
}
