@import "toolkit";

.body {
  font-size: inherit;
  overflow: hidden;
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.header {
  font-family: Montserrat, sans-serif;
  // border-bottom: 1px solid $border-color;
  margin: 5px 0 0px 0;
  padding-bottom: 3px;
}

.intro {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  width: 75%;
  margin: 30px auto;

  a {
    color: #ffffff;
  }
}

.promtime {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.startbutton {
  font-size: 90px;
  // position: absolute;
  // right: 190px;
  // top: 170px;
  color: #eeeeee;
  border: 0;
  background: transparent;
  transition: opacity 1s ease;
  margin: 10px auto;

  &:hover {
    color: lighten(#880066, 40%);
  }
}

.description {
  color: #eee;
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  opacity: 0.5;
  transition: opacity 1s ease;
  padding: 0 8px;

  &:hover { opacity: 1; }

  a { text-decoration: none; }
}

.track,
.artist {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  opacity: 0.6;
  transition: opacity 1.5s ease;
  display: none;
}
