@import "toolkit";

.tweetWall {
  will-change: transform;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  padding: 8px;
  opacity: 0.01;
  transition: opacity 500ms ease;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    transition: color 1s ease;
  }

  @media (min-width: 640px) {
    width: 44%;
    float: right;
    padding: 0 8px 0 0;
  }
}

.tweets {

}

ul.tweetStats {
  background: rgba(0,0,0,0.3);
  color: #ffffff;
  overflow: hidden;
  margin-bottom: 8px;

  li {
    float: left;
    padding: 4px;
    margin: 0 0 0 8px;
    transition: border-color 500ms ease;
  }

  li:hover {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    cursor: pointer;
  }
}

.tweetStatsActive {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}


.username {
  opacity: 0.5;
}

.userscreenname {
  margin-left: 3px;
  opacity: 0.5;
}

.userimage {
  width: 12px;
  height: 12px;
  margin: 0 3px -3px 0;
}

.tweet {
  overflow: hidden;
}

.tweetNoBody {
  float: left;
}

.tweets li {
  margin-bottom: 10px;
}

.tweets li:hover a {
  color: #ffffff !important;
  opacity: 1 !important;
}

.time {
  // color: #ccc;
  opacity: 0.5;
}

.content {
  // display: block;
}

.media {
  float: left;
  margin-right: 6px;
  position: relative;

  img {
    height: 45px;
    width: auto;
  }

  i {
    position: absolute;
    top: 2px;
    left: 2px;
  }
}


