@import "toolkit";

.tweets {
  will-change: transform;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 8px;
  opacity: 0.01;
  transition: opacity 500ms ease;

  a {
    text-decoration: none;
    transition: color 1s ease;
  }

  @media (min-width: 640px) {
    width: 44%;
    float: right;
    padding: 0 8px 0 0;
  }

}

.tweetMeta {

}

.username {
  opacity: 0.5;
}

.userscreenname {
  margin-left: 3px;
  opacity: 0.5;
}

.userimage {
  width: 12px;
  height: 12px;
  margin: 0 3px -3px 0;
}

.tweet {
  overflow: hidden;
}

.tweets li {
  margin-bottom: 10px;
}

.tweets li:hover a {
  color: #ffffff !important;
  opacity: 1 !important;
}

.time {
  // color: #ccc;
  opacity: 0.5;
}

.content {
  // display: block;
}

.media {
  float: left;
  margin-right: 6px;
  position: relative;

  img {
    height: 45px;
    width: auto;
  }

  i {
    position: absolute;
    top: 2px;
    left: 2px;
  }
}


